<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>PrimeiraPaginaJavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testeIMG</display-name>
    <servlet-name>testeIMG</servlet-name>
    <servlet-class>testeIMG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testeIMG</servlet-name>
    <url-pattern>/testeIMG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadImg</display-name>
    <servlet-name>uploadImg</servlet-name>
    <servlet-class>uploadImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImg</servlet-name>
    <url-pattern>/uploadImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpload</display-name>
    <servlet-name>ServletUpload</servlet-name>
    <servlet-class>ServletUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpload</servlet-name>
    <url-pattern>/ServletUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveReg</display-name>
    <servlet-name>ReserveReg</servlet-name>
    <servlet-class>ReserveReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveReg</servlet-name>
    <url-pattern>/ReserveReg</url-pattern>
  </servlet-mapping>
</web-app>